<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @task.title%></title>
  </head>
  <body>
      <div class="navbar">
          <div class="header navbar top-bar fixed" id="myHeader">
              <div class="navbar-header">
                  <%=image_tag("UWC_white.png", {class:"img-responsive", style:"height:10vh;"}) %>
              </div>
          </div>
          <div class="collapse navbar-collapse">
          </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <h2><%= @task.title%></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 text-center">
          <%= label :task, :create_date, "Create Date: "%>
          <span><%=  @task.create_date.strftime("%d - %m - %Y")%></span>
        </div>
        <div class="col-md-4 text-center">
          <%= label :task, :create_date, "Time Remaining: "%>
          <span><%= if (@task.target_date - Time.now) < 0; 0; else; ((@task.target_date - Time.now)/86400).ceil ;end  %> Days</span>
        </div>
        <div class="col-md-4 text-center">
          <%= label :task, :target_date, "Target Date: "%>
          <span><%=  @task.target_date.strftime("%d - %m - %Y")%></span>
        </div>
      </div>
    <br><br>
    <div class="container">
      <div class="row">
        <div class="text-center">
          <div class="progress2" data-percentage="<%=  if @percent>100; 100; else; @percent.to_i; end; %>">
            <span class="progress2-left"><span class="progress2-bar"></span></span>
            <span class="progress2-right"><span class="progress2-bar"></span></span>
            <div class="progress2-value">
          <div>
            <%=  if @percent>100; 100; else; @percent; end; %>%<br>
            <span><strong><%= @task.measure%></strong> Completed</span>
          </div>
        </div>
        </div>
        </div>
      </div>
      </div>
      <div class="row" style="margin-top:7%">
        <div class="col-md-12 well well-lg">
          <div class="float-center text-center">
                    <%= form_tag update_user_task_path(@user,@task), method: "post" do%>
                    <div>
                      <div class="col-md-2 text-center">
                        <%= label :task, :current_value, "Update Progress: "%>
                      </div>
                      <div class="col-md-4 text-center">
                        <%= text_field :task, :current_value, value: @task.current_value%>
                      </div>
                      <div class="col-md-6  text-center">
                        <%= text_field :task, :hour, {value: 0, size: 2}%>
                        <small>Hours</small>:
                        <%= text_field :task, :min, {value: 0, size: 2}%>
                        <small>Minutes</small>:
                        <%= text_field :task, :sec, {value: 0, size: 2}%>
                        <small>Seconds</small>
                      </div>
                    </div>
                    <div class="row col-md-12 text-center" style="padding-top:2%;">
                      <%= submit_tag "Update" , {:class=> 'btn btn-info'}%>
                    </div>
                    <%end%>
          </div>
        </div>

      </div>

<br><br><br><br><br>
      <div class="conatiner text-center" >
          <div class="timer" style="visibility: hidden;">
            </div>
          <div class="row text-center">
            <div class="col-md-4 col-sm-12 text-center">
              </div>
            <div class="col-md-2 col-sm-12 text-center">
              <div class="text-center">
                <div id="prog-hour" class="progress1" data-percentage="0">
                  <span class="progress1-left"><span class="progress1-bar"></span></span>
                  <span class="progress1-right"><span class="progress1-bar"></span></span>
                  <div class="progress1-value">
                    <div>
                      <div id="hours">0</div>
                      <span>Hours</span>
                    </div>
                  </div>
              </div>
            </div>
            </div>
            <div class="col-md-2 col-sm-12">
              <div id="prog-min" class="progress1" data-percentage="0">
                <span class="progress1-left"><span class="progress1-bar"></span></span>
                <span class="progress1-right"><span class="progress1-bar"></span></span>
                <div class="progress1-value">
              <div>
                <div id="minutes">0</div> <span>Minutes</span>
              </div>
            </div>
            </div>
            </div>
            <div class="col-md-2 col-sm-12">
              <div id="prog-sec" class="progress1" data-percentage="0">
                <span class="progress1-left"><span class="progress1-bar"></span></span>
                <span class="progress1-right"><span class="progress1-bar"></span></span>
                <div class="progress1-value">
              <div>
                <div id="seconds">0</div> <span> Seconds</span>
              </div>
            </div>
            <div class="col-md-1 col-sm-12 text-center">
              </div>
            </div>
            </div>
        </div>
        <div class="row" style="margin-top:2%">
        <div class="col-sm-4"></div>
        <div class="col-sm-1 text-center">
          <a class="btn btn-success" onClick="$('.timer').countimer('start');">Start</a>
        </div>
        <div class="col-sm-1">
          <a class="btn btn-warning" onClick="$('.timer').countimer('stop');"><span class="glyphicon glyphicon-pause"></span>Pause</a>
        </div>
        <div class="col-sm-1 ">
           <button class="btn btn-success" onClick="$('.timer').countimer('resume');"><span class="glyphicon glyphicon-play"></span>Resume</button>
        </div>
        <div class="col-sm-1 ">
          <button type="button" id="timer_stop" class="btn btn-danger" onClick="$('.timer').countimer('stop');">
             <span class="glyphicon glyphicon-stop"></span>Stop</button>
        </div>
        <div class="col-sm-4 text-center"></div>
      </div>
        <div class="container text-center" style="padding-top: 7%;">
          <div class="container text-center">
            <div class="text-center">
              <label>View Progress</label>
            </div>
            <%= line_chart @times, {curve: true, ytitle: "Minutes", xtitle: "Date"}%>
          </div>
        </div>
        <br><br>

        <br><br><br><br><br>
        <div class="row" style="margin-bottom:17%;margin-top:5%;" >
          <div class="col-md-4 text-center">
            </div>
          <div class="col-md-2 text-center">
            <%= link_to "Back" , users_path , {:class=> 'btn btn-info'}%>
          </div>
          <div class="col-md-2 text-center">
            <%= link_to "Edit", edit_user_task_path(@user,@task) , {:class=>'btn btn-warning'}%>
          </div>
          <div class="col-md-2 text-center">
            <%= link_to "Delete", user_task_path(@user,@task), {:class=>'btn btn-danger', :method=> :delete, :data => {:confirm => "Are you sure"} }%>
          </div>
        </div>
  </body>
</html>
