<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @task.title%></title>
  </head>
  <body>
    <div class="navbar">
      <div class="header navbar top-bar fixed" id="myHeader">
        <div class="navbar-header">
          <%=image_tag("UWC_white.png", {class:"img-responsive", style:"height:10vh;"}) %>
        </div>
      </div>
      <div class="collapse navbar-collapse">
      </div>
    </div>
      
    <div class="row">
      <div class="col-md-12 text-center">
        <h2><%= @task.title%></h2>
      </div>
    </div>
      
    <div class="row">
      <div class="col-md-4 text-center">
        <%= label :task, :create_date, "Create Date: "%>
        <span><%=  @task.create_date.strftime("%d - %m - %Y")%></span>
      </div>
      <div class="col-md-4 text-center">
        <%= label :task, :create_date, "Time Remaining: "%>
        <span><%= if (@task.target_date - Time.now) < 0; 0; else; ((@task.target_date - Time.now)/86400).ceil ;end  %> Days</span>
      </div>
      <div class="col-md-4 text-center">
        <%= label :task, :target_date, "Target Date: "%>
        <span><%=  @task.target_date.strftime("%d - %m - %Y")%></span>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-2 text-center"></div>
      <div class="col-md-8 text-left">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Writing Time</th>
              <th scope="col">Writing Count</th>
              <th scope="col">Update Date</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          
          <tbody>
            <% @task_timers.each do |timer|%>
            <tr>
              <td><%= timer.hours %> hours <%= timer.minutes %> minutes <%= timer.seconds %> seconds </td>
              <td><%= timer.progress %> pages</td>
              <td><%= timer.created_at %> </td>
              <td> <%= link_to "Edit", delete_progress_path(@user, @task, timer) , {:class=> "btn btn-warning", :method=> :delete, :data => {:confirm => "Are you sure"}}%>
                   <%= link_to "Delete", delete_progress_path(@user, @task, timer) , {:class=> "btn btn-danger", :method=> :delete, :data => {:confirm => "Are you sure"}}%>
              </td>
            </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  

    <div class="row" style="margin-bottom:17%;margin-top:2%;" >
      <div class="col-md-4 text-center">
      </div>
      <div class="col-md-2 text-center">
        <%= link_to "Back" , user_task_path(@user,@task) , {:class=> 'btn btn-info'}%>
      </div>
      <div class="col-md-2 text-center">
        <%= link_to "Create New Progress", new_progress_user_task_path(@user,@task) , {:class=>'btn btn-warning'}%>
      </div>
      
    </div>
  </body>
</html>
