<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @task.title%></title>
  </head>
  <body>    
    <div class="navbar">
      <div class="header navbar top-bar fixed" id="myHeader">
        <div class="navbar-header">
          <%=image_tag("UWC_white.png", {class:"img-responsive", style:"height:10vh;"}) %>
        </div>
      </div>
      <div class="collapse navbar-collapse">
      </div>
    </div>
      
    <div class="row">
      <div class="col-md-12 text-center">
        <h2><%= @task.title%></h2>
      </div>
    </div>
      
    <div class="row">
      <div class="col-md-4 text-center">
        <%= label :task, :create_date, "Create Date: "%>
        <span><%=  @task.create_date.strftime("%d - %m - %Y")%></span>
      </div>
      <div class="col-md-4 text-center">
        <%= label :task, :create_date, "Time Remaining: "%>
        <span><%= if (@task.target_date - Time.now) < 0; 0; else; ((@task.target_date - Time.now)/86400).ceil ;end  %> Days</span>
      </div>
      <div class="col-md-4 text-center">
        <%= label :task, :target_date, "Target Date: "%>
        <span><%=  @task.target_date.strftime("%d - %m - %Y")%></span>
      </div>
    </div>
    
    <div class="container" style="padding-top: 2%;">
      <div class="row">
        <div class="text-center">
          <div class="progress2" data-percentage="<%=  if @percent>100; 100; else; @percent.to_i; end; %>">
            <span class="progress2-left"><span class="progress2-bar"></span></span>
            <span class="progress2-right"><span class="progress2-bar"></span></span>
            <div class="progress2-value">
              <div>
                <%=  if @percent>100; 100; else; @percent; end; %>%<br>
                <span><strong> Completed </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container text-center" style="padding-top: 2%;">
      <div class="container text-center">
        <div class="text-center">
          <label>Write Frequency</label>
        </div>
        <%= line_chart @times, {curve: true, ytitle: "Minutes", xtitle: "Date"}%>
      </div>
    </div>


    <div class="row" style="margin-bottom:17%;margin-top:2%;" >
      <div class="col-md-3 text-center">
      </div>
      <div class="col-md-2 text-center">
        <%= link_to "Back" , users_path , {:class=> 'btn btn-info'}%>
      </div>
      <div class="col-md-2 text-center">
        <%= link_to "View Progress History", progress_user_task_path(@user,@task) , {:class=>'btn btn-warning'}%>
      </div>
      <div class="col-md-2 text-center">
        <%= link_to "Create New Progress", new_progress_user_task_path(@user,@task) , {:class=>'btn btn-warning'}%>
      </div>
    </div>
    
  </body>
</html>
