<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-grey.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
  
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <div class="navbar-header">
    <p style="float: left;"><%=image_tag("UWC_white.png", {class:"img-responsive", style:"height:12vh;"}) %></p>;
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
    <li><a href="#about">About</a></li>
    <li><a href="#signup">Sign up</a></li>
    <li><%= link_to "Login",login_path%></li>
    <%if session[:user_id]%>
    <li><a href="#">Logout</a></li>
    <%end%>
    </ul>
  </div>
</header>

<!--<div class="jumbotron">-->
<!--  <%=image_tag "w3.png", {class:"img-responsive", style:"height:36vh; width:100vw"} %>-->
<!--</div>-->

<div>
  <!--<nav class="navbar navbar-dark red">-->
  <div id="about" class="container-fluid bg-2 text-center", style="background-color: #500000;">
  <h1 style="margin-top:-10px;">WRITE ON TRACK</h1>
  <p style="font-size:24px"><br>Don't we all want to be highly successful in everything we do? <br>
  What is it that separates us from the most influential people? <br>
  The key lies in discipline. <br><br>
  University Writing Tracker helps you build discipline by keeping track of your progress <br>
  to make sure you complete your task on time. <br>
  </p>
</div>

<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-quarter">
  <div class="w3-card w3-container" style="min-height:350">
  <h3>Set a Goal</h3><br>
  <i class="fa fa-diamond w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p>Give a memorable name to your project and determine how much you want to do within your timeframe.</p>
  </div>
</div>

<div class="w3-quarter">
  <div class="w3-card w3-container" style="min-height:350">
  <h3>Pace Yourself</h3><br>
  <i class="fa fa-diamond w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p>Start working towards your target. As long as you follow the your schedule, you will finish ontime.</p>
  </div>
</div>

<div class="w3-quarter">
  <div class="w3-card w3-container" style="min-height:350">
  <h3>Record Progress</h3><br>
  <i class="fa fa-diamond w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p>Record your progress and further adjust your plan based on any new changes to your availability.</p>
  </div>
</div>

<div class="w3-quarter">
  <div class="w3-card w3-container" style="min-height:350">
  <h3>Celebrate!</h3><br>
  <i class="fa fa-diamond w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p>Congratulations,ou did it! Take some time to celebrate this milestone. Anyone can be the best writer!</p>
  </div>
</div>
</div>

<!--<div class="container-fluid text-center" style="margin-top:0px;">-->
<!--  <h3 style="margin-top:0px;">-->
<!--    Who is this for? </h3>-->
<!--  <div style="margin-top:10px;">-->
<!--  <div class="col-md-6">-->
<!--  <span class="pull-right" style="margin-top:10px;margin-bottom:30px;">-->
<!--  <%=image_tag("male1.png", class:"img-responsive img-circle") %>-->
<!--  </span>-->
<!--</div>-->
<!--<div class="col-md-6" style="margin-top:10px;margin-bottom:60px;">-->
<!--  <%=image_tag("female1.png", class:"img-responsive img-circle") %>-->
<!--</div>-->
<!--</div>-->
<!--  <p>This is for all the Aggies who want to make sure they stay on track and never miss deadlines anymore. Gig 'em! </p>-->
<!--</div>-->

<!--<div class="jumbotron">-->
<!--  <%=image_tag "w1.png", {class:"img-responsive", style:"height:36vh; width:100vw"} %>-->
<!--</div>-->

<div id="signup" class="container-fluid bg-3 text-center">
  <h3 class="margin">How do I get started?</h3>
  <p>All you have to do is sign up with your email address and get access to all the services for free. </p>
  <a href="/users/new" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-hand-right"></span> Sign up
  </a>
</div>

<!--<div class="jumbotron">-->
<!--  <%=image_tag "pg.jpg", {class:"img-responsive", style:"height:25vh; width:100vw"} %>-->
<!--</div>-->



